.idea
.vscode
*.log
*.iml
.npm-cache
.jest-cache
.coverage
.DS_Store
**/data
**/node_modules
**/build
**/*.sh
**/*.css.d.ts
**/.kettle/*
!**/.kettle/*.example
!**/.kettle/google/.gitkeep
!**/.kettle/google/*.example
/.env

